%section
  %section
    :markdown
      # Excercise 02 | Inheritance

      ## Purpose:

      Learn the usage, advantage and disadvantage of inheritance in
      object-oriented programming languages

  %section
    :markdown
      ## Prerequisite Tasks

      1. Have sheets of paper
      2. Have pen/pencil/rolerball
      3. `Optional`: Have a ruler

  %section
    :markdown
      ## Additional Information

      Make use of non-standard UML-like shapes (UML = Unified Modeling Language)

    %img{ src: url("/graph/excercise/e_02/non_uml_simple.svg") }

%section
  %section
    :markdown
      ## Task A

      Draw the class hierarchy of zoo animals:

      1. Elefant
      2. Lion
      3. Penguin
      4. Pidgeon
      5. Dog
      6. Wolf
      7. Canary
      8. Owl

  %section
    :markdown
      ### Task A | Requirements

      - All are `Animals`
      - Some are `Wild`
      - Some are `Pets`

%section
  %section
    :markdown
      ## Task B

      Consider class structure of `Task A`

      1. Denote a method to apporiate classes, that return a text, denoting what
          kind they are.

