%section
  :markdown
    1. [Procedural programming](e_01_procedural-programming.html)
    2. [OOP Inheritance](e_02_oop-inheritance.html)
    3. [OOP UML](e_03_oop-uml.haml)
    4. [Functional programming](e_04_functional-programming.html)
    5. [Data Structures: Ordered Collections](e_05_ds-ordered-collections.html)
    6. [Data Structures: Unordered Collections](e_06_ds-unordered-collections.html)
