!!!5
%html
  %head
    %title= @title
    %link{ rel: "stylesheet", href: "/assets/reveal/css/reveal.css" }
    %link{ rel: "stylesheet", href: "/assets/reveal/css/theme/solarized.css"  }
    %link{ rel: "stylesheet", href: "/assets/app.css"}

  %body.reveal
    .header

    .slides
      = yield

    .footer
      %img.logo{ src: url("assets/hsrw.svg") }

      .index
        %a(href="/index.html")

    %script{ src: "/assets/app.js"}

