!!!5
%html
  %head
    %title= @title
    %link{ rel: "stylesheet", href: url("/assets/reveal/css/reveal.css") }
    %link{ rel: "stylesheet", href: url("/assets/reveal/css/theme/solarized.css") }
    %link{ rel: "stylesheet", href: url("/assets/app.css") }
    -#%link{ rel: "stylesheet", href: url("/assets/reveal/css/print/pdf.css") }
    %link{ rel: "stylesheet", media: "print", href: url("/assets/reveal/css/print/pdf.css") }

  %body.reveal
    .header

    .slides
      = yield

    .footer
      %img.logo{ src: url("assets/hsrw.svg") }

      .index
        %a{ href: url("/index.html") }

    %script{ src: url("/assets/app.js") }

