//= require highlight/styles/github-gist.css

section p {
  text-align: justify;
  font-size: 0.9em;
}

.header {
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;

  height: 2em;
  width: 100%;

  padding: {
    bottom: 10px !important;
    left: 10px !important;
    right: 10px !important;
    top: 5px !important;
  }

  .logo {
    height: 2em;

    float: left;

  }

  .author {
    font-size: 0.5em;

    margin-left: 10em;

    vertical-align: middle !important;
  }
}

.hljs-ln-numbers {
  user-select: none;

  border-right: 1px solid #000 !important;
  margin-right: 3px !important;
}

table.hljs-ln {
  margin: 0;
}

.hljs-ln-line {
  border-bottom: none !important;
}

blockquote {
  //font-family: "monospace" !important;
  .text {
    color: black;
    text-align: justify !important;
    font-style: italic;
    background: lighten(lightgrey, 0.8) !important;
    margin: 0;
  }

  .caption {
    font-size: 0.7em;
    background-color: #fdf6e3 !important;
    text-align: center;
    width: 100%;
    margin: 0;
  }
}

img {
  border: 0px !important;
}

.img-caption {
  text-align: center !important;

  .caption {
    p {
      text-align: center !important;
      font-size: 60% !important;
      padding: 0 !important;
      margin: 0 !important;
    }

  }

}
