//= require highlight/styles/github-gist.css

section p {
  text-align: justify;
  font-size: 0.9em;
}

.header {
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;

  height: 2em;
  width: 100%;

  padding: {
    bottom: 10px !important;
    left: 10px !important;
    right: 10px !important;
    top: 5px !important;
  }

  .logo {
    height: 2em;

    float: left;

  }

  .author {
    font-size: 0.5em;

    margin-left: 10em;

    vertical-align: middle !important;
  }
}

.hljs-ln-numbers {
  user-select: none;

  border-right: 1px solid #000 !important;
  margin-right: 3px !important;
}

table.hljs-ln {
  margin: 0;
}

.hljs-ln-line {
  border-bottom: none !important;
}
