%section
  %section
    :markdown
      # Computational complexity theory

      Is a branch of information theory and mathematics.

    = blockcite "Wikipedia: Computational complexity theory", |
      "https://en.m.wikipedia.org/wiki/Computational_complexity_theory", |
      "It focuses on classifying computational problems according their " |
      "difficulty, and relating these classes to each other." |

  %section
    %h2 Computational problems

    %dl
      = define "Computational Problem", "Is a task that is/can be solved by " |
          "a computer." |

      = define "Computation Problem", "Is a problem that can be solved by " |
          "mechanicaly apply mathematical steps. (See Algorithm)" |

  %section
    :markdown
      ## Difficulty of computation

      If a problem requires significant resources to be solved, no matter which
      algorithm is used, this problem is considered difficult.

  %section
    :markdown
      ## Computational Theory

      Therefore computational complexity theory is the way to determine practical
      limitations what problems can be solved by a computer.

      Main classifications:

      - **P** => Polynominal Problems
      - **NP** => Non-Deterministic Polynominal Problems

  %section
    :markdown
      ## Millennium Prize Problems

      The [Clay Mathematics Institute](http://www.claymath.org/) has stated on
      2000-05-24 seven mathematical problems to the public to be solved.

      It also rewards the discoverer __US $ 1 million__.

      1. [Yang-Mills and Mass Gap](http://www.claymath.org/millennium-problems/yang%E2%80%93mills-and-mass-gap)
      2. [Riemann Hypothesis](http://www.claymath.org/millennium-problems/riemann-hypothesis)
      3. [P vs NP Problem](http://www.claymath.org/millennium-problems/p-vs-np-problem)
      4. [Navier-Stokes Equation](http://www.claymath.org/millennium-problems/navier%E2%80%93stokes-equation)
      5. [Hodge Conjecture](http://www.claymath.org/millennium-problems/hodge-conjecture)
      6. [Poincaré Conjecture](http://www.claymath.org/millennium-problems/poincar%C3%A9-conjecture)
      7. [Birch and Swinnerton-Dyer Conjecture](http://www.claymath.org/millennium-problems/birch-and-swinnerton-dyer-conjecture)

  %section
    :markdown
      ## P vs NP Problem

      The question is, if the solution to a problem that can be quickly verified
      can also be solved quickly (again, in polynominal time).

