%section
  %section
    :markdown
      # Computational complexity theory

      Is a branch of information theory and mathematics.

    = blockcite "Wikipedia: Computational complexity theory", |
      "https://en.m.wikipedia.org/wiki/Computational_complexity_theory", |
      "It focuses on classifying computational problems according their " |
      "difficulty, and relating these classes to each other." |

  %section
    :markdown
      ## Computational problems

