%section
  %section
    %h1
      Data Structures

  %section
    :markdown
      ## What is a data?

      In programming the material to work with can be classified in two types

      1. Primitive Data
      2. Structured Data

  %section
    :markdown
      #### What is Meta-Data?

      __Meta-Data__ describes information, about _data_, that informs aspects of
      this _data_

    %pre
      %code.hljs
        :escaped
          Stefan Koenen is a Person
          Stefan is a Name

  %section
    :markdown
      ### Primitive Data

      This form of data is a representation with no or minimal _Meta-Data_.

  %section
    :markdown
      ### Structured Data

      Descibes data that is grouped and has additional meaning attached.
      Either due to the

      - Declaration naming _or_
      - How data is grouped

