%section
  %section
    :markdown
      # Welcome to

      ### Introduction to _Programming_

  %section
    :markdown
      ## Introduction

      - Who am I?
      - What to expect?
      - What about the slides and other stuff?
      - What about the exam?
      - How are excercises done?
      - What will be done in the practica?

%section
  %section
    :markdown
      # Who am I?

      - Stefan Koenen, M.Sc. IT
      - No __Professor__
      - Office: 03.02.120 or 02.02.650

  %section
    :markdown
      ## How to reach me?

      - Office Hours
        - Tuesday: 10:00 UTC+1 => 11:00 UTC+1
      - eMail: <a href="mailto:stefan.koenen@hochschule-rhein-waal.de?subject=CI_2.03%20Introduction%20to%20programming%20%7c%20SS%202019&body=Dear%20Mr.%20Koenen%2C%0A%0Amay%20I%20...%0A%0AGreetings%2C%0ANAME">stefan.koenen@hochschule-rhein-waal.de</a>
        - Please use _CI_2.03 Introduction to programming | SS 2019_ as subject

%section
  :markdown
    # What to expect?

    - Talking about concept of programming
    - Differences in _pramming languages_
    - Talking about _control structures_
    - A bit about _data structures_

%section
  %section
    :markdown
      # What about slides and other stuff?

      - The slides will be available at:
        [Github/skoenen](https://github.com/skoenen/ci_2.03_programming)

  %section
    :markdown
      ## Why Github?

      - If you find an error, please make a __Pull Request__ with the correction
      - If you think, there is something missing, see point above :)
      - If you have a question, open an _issue_

  %section
    :markdown
      ## Why shoud I do this?

      I will use information in this to see where the most problems are.

      And also, if you are on the edge in the exam. I can probably see, that you
      know the stuff and take this into account.

      Also you are helping your commolitones.

%section
  %section
    :markdown
      # What about the exam?

      This course will be examined in a written exam.

      The exam will take 90 minutes

  %section
    :markdown
      ## Allowed tools are:

      - Pen
      - Ruler
      - Calculator
      - Din A4 Sheet of paper with notes __hand written__

  %section
    :markdown
      ## Possible Tasks?

      - Write a short program in a given language.
      - Name advantages of a _data structure_
      - Name disadvantages of a _data structure_
      - Explain a concept of a programming language
      - Explain a programming pattern
      - Determine and write down the the purpose of a given program code
      - Determine the output of a given program code
      - Find an error in a given program code
      - Correct an error in a given program code

%section
  :markdown
    # How are excercises done?

    There will be short tasks, that

    - You should do firstly alone
    - After 5 -> 15 minutes (depends on task) we have a look at the solution
      together

%section
  :markdown
    # What will be done in the practica?

    1. There will be a preparation, that you should do bevor hand
      _(It is expected that you did it and know it.)_
    2. You will do the practica on your own
    3. I will have a look and give some guidance

%section
  :markdown
    # Questions?

%section
  :markdown
    # [First Lecture](/programming_language.html)
