%section
  %section
    %h1
      Algorithms

  %section
    = blockcite("[...] an algorithm (/ˈælɡərɪðəm/) is an unambiguous    |
        specification of how to solve a class of problems.              |
        Algorithms can perform calculation, data processing, automated  |
        reasoning, and other tasks.",                                   |
        "Wikipedia: Algorithms",                                        |
        "https://en.m.wikipedia.com/wiki/Algorithm")                    |

  %section
    :markdown
      ## Types of algorithms
