%section
  :markdown
    1. [Set Up Programming Environment](p01_programming_environment.html)
    2. [Get to know C](p02_C.html)
    3. [Get to know Java](p03_java.html)
    4. [Get to know Data Structures](p04_java_data-structures.html)
    5. [Get to know Software Patterns](p05_java_software-patterns.html)

