# Set Up Programming Environment

## Needed Tools

### Environment

- Virtualbox
- Installation of ArchLinux
  - Virtual Harddisk with ArchLinux
  - Installation media with ArchLinux

### Tools
- Compiler
  - CLang
  - Java JDK
  - Rust
  - Go
  - Ruby
  - Python
- Editor
  - Vim/GVim
  - Nano
  - Gedit
  - ...


