%section
  %h1
    Get to know C

%section
  %section
    :markdown
      ## Tools needed

      - Editor
        - Vim/GVim
        - Nano
        - Gedit
        - (what ever __Text__-Editor you find comfortable)
  %section
    :markdown
      ## Tools needed

      - CLang Compiler
        - ArchLinux: `# pacman -S clang`
        - TODO: Commands for other distributions

%section
  :markdown
    ## Additional information

    - `$ man clang`
    - `$ man printf`
    - `$ man scanf`



%section
  :markdown
    ## Task A

    1. Write a small program in a file, that outputs `Hello World!`
    2. Compile the file to an executable
    3. Run the executable

%section
  :markdown
    ## Task B

    1. Write a small program in a file, that asks for the name of the user
      and then outputs `Hello <NAME of User>`
    2. Compile the file to an executable
    3. Run the executable

