%section
  %section
    :markdown
      # Get to know __Data Structures__

  %section
    :markdown
      ## Pre Lab Tasks

      1. Same as [Practica 3](/practica/p03_Java.html#/1)
      2. Have a copy of `practica/p04_java_data_structures/gradle_base` for each
          Task
      3. Understand `App.java` in `src/main/org/hsrw/ci_2_04_programming`
  
%section
  %section
    :markdown
      # Task A

      Build a `Linked List` class for `int` values;

      __->__ Do not use predefined one.

  %section
    :markdown
      ## Additional Information

      - Linked lists are constructed with references to the next element.

%section
  %section
    :markdown
      # Task B

      1. Build a `Linked List` class for __any__ data type values;
      2. Use the linked list to store 4234 elements of random Integers

  %section
    :markdown
      ## Additional information

      __Generics__ are a placeholder that is exchanged on runtime.

    %pre
      %code.java.hljs
        :escaped
          package org.hsrw.ci_2_04_programming.ds

          class Basic<GENERIC> {
            GENERIC attribute = new GENERIC();
          }

          Basic<GENERIC> variable = new Base<GENERIC>();

%section
  %section
    :markdown
      # Task C

      1. Build a `Hash Map`, use an `Array` as the base.

  %section
    :markdown
      ## Additional Information

      - A _hash_ function is needed to convert the _Key_ into an index of the
          array.

    %pre
      %code.java.hljs
        :escaped
          package org.hsrw.ci_2_04_programming.ds

          class HashMap<GENERIC_KEY, GENERIC_VALUE> {
              GENERIC_VALUE storage[START_SPACE];

              public HashMap

              protected int hashOf(GENERIC_KEY key) {
                // ... Any algorithm you find suitable ...
              }


          }

