%section
  %section
    :markdown
      # Get to know __Data Structures__

  %section
    :markdown
      ## Pre Lab Tasks

      1. Same as [Practica 3](/practica/p03_Java.html#/1)
      2. Have a copy of `practica/p04_java_data_structures/gradle_base` for each
          Task
      3. Understand `App.java` in `src/main/org/hsrw/ci_2_04_programming`
  
%section
  %section
    :markdown
      # Task A

      Build a `Linked List` class for `int` values;

      __->__ Do not use predefined one.

  %section
    :markdown
      ## Additional Information

      - Linked lists are constructed with references to the next element.

%section
  %section
    :markdown
      # Task B

      Build a `Linked List` class for __any__ data type values;

  %section
    :markdown
      ## Additional information

      __Generics__ are a placeholder that is exchanged on runtime.

    %pre
      %code.java.hljs
        :escaped
          class Basic<GENERIC> {
            GENERIC attribute = new GENERIC();
          }

          Basic<GENERIC> variable = new Base<GENERIC>();


