%section
  %section
    %h1 Train to implement Software Patterns of the Excercises

  %section
    :markdown
      ## Additional Information

      Have a look at the [Excercise 3](/excercise/e_03_software-patterns.html)

%section
  %section
    :markdown
      ## Task A | The Singleton Pattern

      Change the existing class `Database` that it behaves as an _Singleton_

      Use gradle to run the Tests:

      `./gradlew test`

  %section
    :markdown
      ### Task A | Additional Information

      The source path is:

      `practica/p05_java_software-patterns/task_a/src/main/java`

      _Hint:_ There is also a Bug in the implementation

      1. find it
      2. correct it.

%section
  %section
    :markdown
      ## Task B | The Visitor Pattern

      1. Change the class `Task` that it can be visited.
      2. Construct a visitor class that asks the the visited class what
        parameters it needs, that the task can be done.
          - The visitor knows of each needed parameters.
      3. Use _gradle_ `test` to run the Tests

