%section
  %section
    %h1 Train to implement Software Patterns of the Excercises

  %section
    :markdown
      ## Additional Information

      Have a look at the [Excercise 3](/excercise/e_03_software-patterns.html)

%section
  %section
    :markdown
      ## Task A | The Singleton Pattern

      Change the existing class `Database` that it behaves as an _Singleton_

      Use gradle to run the Tests:

      `./gradlew test`

  %section
    :markdown
      ### Task A | Additional Information

      The source path is:

      `practica/p05_software-patterns/task_a/src/main/java/org/hsrw/ci_2_04_programming/`

      _Hint:_ There is also a Bug in the implementation -> find it correct it.

